fb_apiKey="AIzaSyB3iCuXbc2Ya3ixQLEBTMaBjuNdHT_4laA"
fb_authDomain="test-e61c1.firebaseapp.com"
fb_databaseURL="https://test-e61c1.firebaseio.com"
fb_projectId="test-e61c1"
fb_storageBucket="test-e61c1.appspot.com"
fb_messagingSenderId="6007080227123594298957"
fb_appId="1:27123594298:web:41db2152c2b0d053bdb103"
fb_config_key="94iyB3vSMXTXyBL3jK0Z"
fb_auth_email="test@test.com"
fb_auth_password="shpp1234"
news_api_url="https://back.programming.kr.ua/api/news"
news_api_imageDomainPrefix="https://back.programming.kr.ua/storage/img/news/"
telegraf_accountToken="ff74fc07b20e0177efb88b2e35de06b3b4ef79650a24c6db130990f939b9"
telegraf_domainPrefix="https://telegra.ph/"
telegraf_syncDelay=3000
telegram_accountToken="602060641:AAG0Z5SA5nqUDGrvm---rv6ZSJCGksZm8aM"
cron_syncAndSendMsg="0 12 * * *"
news_dependence_count=3
dev_mode=1